.tabelaContatos {
  margin: auto;
  max-width: 1000px;
}

.addContatos {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 30% 20% 15% 20% 10%;
  gap: 5px;
}

.buttonAdd {
  height: 40px;
  margin-top: 30px;
}

.Thead-Nome {
  width: 25%;
}

.Thead-Sexo {
  width: 15%;
}

.Thead-Tel {
  width: 15%;
}

.Thead-Email {
  width: 25%;
}

.Thead-Opcoes {
  width: 15%;
}